html, body, * {
  /* size */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  /* element style */
  box-sizing: border-box;
}

a, input, button {
  text-decoration: none;
}

.app {
  /* size */
  width: 100%;
  height: 100%;
  
  /* element style */
  background-color: #B4A48D;

  /* text style */
  font-family: "Poppins";
  color: #FFFFFF;
  font-weight: 500;
}